<header class="header">
    <mat-toolbar>
        <mat-toolbar-row>
            <a mat-button color="primary" routerLink="/start" style="font-weight: 500; font-size: 18px; text-decoration: none;">
                <i class="card_giftcard mr-1"></i>
                <span class="pt-2">iota.coupons</span>
            </a>
            <span class="header-spacer"></span>
            <ng-content></ng-content>
        </mat-toolbar-row>
    </mat-toolbar>
</header>