<footer class="footer py-4">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-xs-12 col-md-3">
                <a mat-stroked-button color="primary" href="https://trinity.iota.org/" target="_blank" style="text-decoration: none;">
                    <i class="get_app mr-1"></i>Get the Trinity wallet
                </a>
            </div>
            <div class="col-sm-6 col-xs-12 col-md-3 pt-2">
                <a color="accent" href="https://heichling.xyz/" target="_blank">
                    heichling.xyz
                </a>
                 // 
                <a href="https://einfachiota.de/" target="_blank">
                    einfachiota.de
                </a>
            </div>
            <div class="col-sm-6 col-xs-12 col-md-3 pt-2">
                <a routerLink="/tos">
                    Terms,Imprint,Privacy
                </a>
                 // 
                <a href="https://iota.org/" target="_blank">
                    iota.org
                </a>
            </div>
            <div class="col-sm-6 col-xs-12 col-md-3 pt-2">
                © iota.coupons {{year}}
            </div>
        </div>
    </div>
</footer>