@font-face {
  font-family: 'MaterialIcons-Regular';
  src:  url('MaterialIcons-Regular.eot?y6ff85');
  src:  url('MaterialIcons-Regular.eot?y6ff85#iefix') format('embedded-opentype'),
    url('MaterialIcons-Regular.ttf?y6ff85') format('truetype'),
    url('MaterialIcons-Regular.woff?y6ff85') format('woff'),
    url('MaterialIcons-Regular.svg?y6ff85#MaterialIcons-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'MaterialIcons-Regular' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-decoration: none;
  font-size: 24px;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

i:hover{
  text-decoration: none;
}

.email:before {
  content: "\e900";
}
.vpn_key:before {
  content: "\e901";
}
.schedule:before {
  content: "\e902";
}
.format_paint:before {
  content: "\e903";
}
.get_app:before {
  content: "\e904";
}
.brush:before {
  content: "\e905";
}
.arrow_back:before {
  content: "\e906";
}
.perm_identity:before {
  content: "\e907";
}
.account_circle:before {
  content: "\e908";
}
.done_all:before {
  content: "\e909";
}
.exit_to_app:before {
  content: "\e90a";
}
.note_add:before {
  content: "\e90b";
}
.card_giftcard:before {
  content: "\e90c";
}
.settings:before {
  content: "\e90d";
}
.system_update_alt:before {
  content: "\e90e";
}
.verified_user:before {
  content: "\e90f";
}