<app-header>
    <button mat-stroked-button (click)="scrollToElement('#redeemForm')" color="accent">Redeem Coupons</button>
</app-header>
<div class="container-fluid mb-3">
    <mat-card class="mb-3">
        <div class="row">
            <div class="col-xl-7">
                <mat-card-content>
                    <app-feature-slider></app-feature-slider>
                </mat-card-content>
            </div>
            <div class="col-xl-5">
                <app-user></app-user>
            </div>
        </div>
    </mat-card>
    <mat-card class="mb-3" id="redeemForm">
        <mat-card-header>
            <mat-card-title>Do you have an IOTA coupon? Simply enter it here and we will send it ASAP to your IOTA
                Wallet <sup><a href="https://trinity.iota.org/" target="_blank" style="color: #009688;">Get
                        one</a></sup>
            </mat-card-title>
            <mat-card-subtitle>New to IOTA? Have a look below, where we will explain everything you need to know!
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="d-flex flex-fill align-items-center justify-content-center py-3">
            <app-redeem class="w-100"></app-redeem>
        </mat-card-content>
    </mat-card>
    <mat-card class="mb-5" id="infoText">
        <mat-card-content>
            <div class="row no-gutter" id="infoText">
                <div class="container">
                    <div class="px-4">
                        <h2>Why IOTA is relevant for you</h2>
                        <h3 id="part-1-what-was-will-be">Part 1: Short Intro</h3>
                        <p>The third industrial revolution, also known in Europe as Industry 4.0 is happening right now.
                        </p>
                        <ul>
                            <li>For 25 years we had the digital .com internet as a new form of communication
                            </li>
                            <li>We are also now seeing an internet of renewable energy, where everyone can feed the
                                excess of their solar roof into the public grid</li>
                            <li>The global diffusion of an automated GPS and very soon driverless transport internet is
                                ever growing</li>
                        </ul>
                        <p><strong>These three internets ride on top of a platform called the IOT, the Internet
                                of things.</strong></p>
                        <p>With sensors being implemented in many different types of devices, it is possible to monitor
                            real time activity. These devices can then talk to other machines and to us. Sensors in
                            Agriculture, Factories, Smart homes, Vehicles,
                            Roads and your Smartphone are all collecting data and are then sending this to the
                            communication, transport &amp; energy internets to move and power economic life. This will
                            be omnipresent by 2030, connecting everything
                            with everything. It is like creating an external prosthesis, a distributed nervous system of
                            our economic life.</p>
                        <mat-accordion>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header collapsedHeight="80px">
                                    <mat-panel-title>
                                        Industrial revolutions: Quick Overview
                                    </mat-panel-title>
                                    <mat-panel-description>
                                    </mat-panel-description>
                                </mat-expansion-panel-header>
                                <p>
                                    GDP Growth is declining all around the world. We reached our economic peak 20 years
                                    ago. CO2 emissions are changing the water cycle rapidly, which is exponentially
                                    shifting the chemistry of our planet. By the end of this century only half of the
                                    species
                                    on this planet will be left. It is terrifying! What do we do?
                                </p>
                                <p> We need a new economic vision for the world and we need it quick. Lets take a step
                                    back and take a look at the economic revolutions we had thus far:
                                </p>
                                <p>
                                    To have an industrial revolution you need an innovation in energy, communication and
                                    transport which enhance the productivity of our economy rapidly.
                                </p>
                                <h4 id="1-industrial-revolution-19th-century-england">1. Industrial Revolution, 19th
                                    century England</h4>
                                <p>With the discovery of coal as an energy source and the invention of the steam engine,
                                    the first industrial revolution changed how people lived enormously. It enabled
                                    technologies like the steam powered printing press
                                    and trains as a completely new form of communication and transport.</p>
                                <h4 id="2-industrial-revolution-20th-century-usa">2. Industrial Revolution, 20th century
                                    USA
                                </h4>
                                <p>The construction of centralized power plants and a public electricity network, the
                                    invention of the telephone and finally Henry Fords incentive to put everyone on the
                                    road, brought economic productivity to another level
                                    again.
                                </p>
                            </mat-expansion-panel>

                        </mat-accordion>
                        <h3 id="part-2-iota-and-it-s-significance-in-the-new-industrial-revolution" class="mt-3">
                            Part 2: IOTA and it&rsquo;s significance in the new Industrial Revolution
                        </h3>
                        <p>Let&rsquo;s get more specific about one aspect of this industrial revolution: The
                            communication protocol that powers the IOT, <em>IOTA</em>.</p>
                    </div>
                    <p><img src="assets/img/distributed-ledger.png" class="w-100" alt="Distributed Ledger" />
                    </p>
                    <div class="px-4">
                        <p>To understand IOTA you have to understand distributed ledgers first. A ledger is a record or
                            list of transactions going from A to B. A distributed ledger is the most up to date version
                            of this record distributed on multiple
                            nodes.
                        </p>
                        <p>Two very famous distributed ledgers are Bitcoin and Ethereum. They are running on a protocol
                            called the <em>Blockchain</em>. As the name suggests it is a chain of blocks and in each of
                            these blocks is a certain amount of transactions
                            of our distributed ledger. This means in the first block are the first ten transactions
                            (this number is just for demonstrating purposes; it varies for each blockchain) that need to
                            be validated by calculating a certain
                            hash value from servers all around the globe.
                        </p>
                        <p>IOTA is running on a protocol called a DAG, a directed acyclic graph. On the DAG every
                            transaction is connected to others, not contained in a block. The problem IOTA solves is the
                            <em>&ldquo;Blockchain Bottleneck&rdquo;</em>.
                            Because there is only a certain amount of transactions that can go into one block of the
                            blockchain, the TPS or <em>&ldquo;transactions per second&rdquo;</em> are limited.
                            Consequently if you have a lot of transactions
                            that need to be processed, the transaction fee rises. The idea of the tangle is actually
                            quite simple:
                        </p>
                        <blockquote>
                            <p><strong>Each transaction that you send, needs to validate two others
                                    first.</strong></p>
                        </blockquote>
                        <p>This means that the more transactions you have, the more validation is possible. It
                            completely eliminates the need for huge server / mining farms, calculating hash values for
                            the blockchain.</p>
                    </div>
                    <p><img src="assets/img/tangle.png" class="w-100" alt="Tangle visualized" /></p>
                    <div class="px-4">
                        <p>This is not the only benefit of IOTA compared to conventional blockchains:</p>
                        <ul>
                            <li>Because there is no need for mining farms, there are no transaction fees</li>
                            <li>IOTA is infinitely scalable</li>
                            <li>The nature and hashing algorithm of IOTA is based on ternary, which means it is immune
                                to Quantum computers</li>
                            <li>As transactions do not have to be in consecutive blocks, offline transactions are
                                possible
                            </li>
                        </ul>
                        <p>Of course IOTA also has disadvantages:</p>
                        <ul>
                            <li>Validation only happens when others participate in the network, hence it needs to be
                                large enough to be self sustainable</li>
                        </ul>
                        <p>&ldquo;So far so good, but what exactly does this have to do with a new economic
                            revolution?&rdquo;
                        </p>
                    </div>
                    <p><img src="assets/img/iota-m2m-world.jpg" class="w-100" alt="IOTA connected World" />
                    </p>
                    <div class="px-4">
                        <h3 id="part-3-the-power-of-the-machine-to-machine-economy">Part 3: The Power of the Machine to
                            Machine Economy</h3>
                        <p>In our connected IOTA world your washing machine can pay your neighbours directly for the
                            electricity his solar panels are generating. Thus there is no need for a middleman that
                            takes fees for delivering power to your home,
                            making this process more economically productive. Even your light bulb that might just need
                            a fraction of the power can pay directly for its needs, let's say 0.2 cents, as the feeless
                            nature of IOTA enables microtransactions.</p>
                        <p>This formula can also be applied in the production and transport of goods of any kind. Let's
                            say for example that the car manufacturer VW has a production line in Wolfsburg, Germany,
                            putting together parts from all over the world
                            to make a car. The wheels of this car are being produced in Taiwan. The robot in the wheel
                            factory in Taiwan notices now, that the wheel that is scheduled for a car in Wolfsburg is
                            faulty. Following this it sends the production
                            line in Germany a quick transaction, notifying the factory that they need to source their
                            wheel from somewhere else. It does this with the help of the IOTA protocol. Because of IOTAs
                            distributed nature, the factories in
                            Taiwan and Germany can trust the transactions and do not have to rely on a third party. The
                            wheel robot can also send the originally paid value straight back to Wolfsburg.
                        </p>
                        <p>With hundreds of these transactions happening at any given time in just a single factory, the
                            data can be analysed by AIs or smart algorithms. This process is called creating a
                            <em>digital twin</em> of your factory, which simulates the whole production line and adjusts
                            its parameters in real time for optimal output. Different aspects can now be included into
                            the calculation of our parameters,
                            for example co2 emissions, speed and quality. The digital prothesis is enhancing economic
                            productivity in all sorts of industries.</p>
                    </div>
                    <p><img src="assets/img/iota-usecases.jpg" class="w-100" alt="IOTA industry use cases" />
                    </p>
                    <div class="px-4">
                        <p>IOTA itself is developed by a registered non-profit foundation in Germany. We barley
                            scratched the surface, but we strongly recommend you to dive into the rabbit
                            hole.</p>
                        <div class="row my-4" style="text-align: center; color: rgba(0, 0, 0, 0.54);">
                            <div class="col-sm-6">
                                <h2>
                                    <svg width="50px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                                        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                        viewBox="0 0 512.001 512.001" style="enable-background:new 0 0 512.001 512.001;"
                                        xml:space="preserve">
                                        <path style="fill:#464655;" d="M512,200.093H0V97.104c0-4.875,3.953-8.828,8.828-8.828h494.345c4.875,0,8.828,3.953,8.828,8.828
	L512,200.093L512,200.093z" />
                                        <path style="fill:#FFE15A;" d="M503.172,423.725H8.828c-4.875,0-8.828-3.953-8.828-8.828V311.909h512v102.988
	C512,419.773,508.047,423.725,503.172,423.725z" />
                                        <rect y="200.091" style="fill:#FF4B55;" width="512" height="111.81" />
                                    </svg>

                                    <a href="https://einfachiota.de" target="_blank" style="color: #009688;">
                                        einfachiota.de</a>
                                </h2>
                            </div>
                            <div class="col-sm-6">
                                <h2>
                                    <svg width="50px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                                        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512"
                                        style="enable-background:new 0 0 512 512;" xml:space="preserve">
                                        <path style="fill:#41479B;" d="M473.655,88.276H38.345C17.167,88.276,0,105.443,0,126.621V385.38
	c0,21.177,17.167,38.345,38.345,38.345h435.31c21.177,0,38.345-17.167,38.345-38.345V126.621
	C512,105.443,494.833,88.276,473.655,88.276z" />
                                        <path style="fill:#F5F5F5;" d="M511.469,120.282c-3.022-18.159-18.797-32.007-37.814-32.007h-9.977l-163.54,107.147V88.276h-88.276
	v107.147L48.322,88.276h-9.977c-19.017,0-34.792,13.847-37.814,32.007l139.778,91.58H0v88.276h140.309L0.531,391.717
	c3.022,18.159,18.797,32.007,37.814,32.007h9.977l163.54-107.147v107.147h88.276V316.577l163.54,107.147h9.977
	c19.017,0,34.792-13.847,37.814-32.007l-139.778-91.58H512v-88.276H371.691L511.469,120.282z" />
                                        <g>
                                            <polygon style="fill:#FF4B55;" points="282.483,88.276 229.517,88.276 229.517,229.517 0,229.517 0,282.483 229.517,282.483 
		229.517,423.724 282.483,423.724 282.483,282.483 512,282.483 512,229.517 282.483,229.517 	" />
                                            <path style="fill:#FF4B55;" d="M24.793,421.252l186.583-121.114h-32.428L9.224,410.31
		C13.377,415.157,18.714,418.955,24.793,421.252z" />
                                            <path style="fill:#FF4B55;"
                                                d="M346.388,300.138H313.96l180.716,117.305c5.057-3.321,9.277-7.807,12.287-13.075L346.388,300.138z" />
                                            <path style="fill:#FF4B55;"
                                                d="M4.049,109.475l157.73,102.387h32.428L15.475,95.842C10.676,99.414,6.749,104.084,4.049,109.475z" />
                                            <path style="fill:#FF4B55;"
                                                d="M332.566,211.862l170.035-110.375c-4.199-4.831-9.578-8.607-15.699-10.86L300.138,211.862H332.566z" />
                                        </g>
                                    </svg>

                                    <a href="https://helloiota.com" target="_blank" style="color: #009688;">
                                        helloiota.com</a>
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>