.coupon-preview-image-list-horizontal {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100px;
    overflow-y: hidden;
    overflow-x: auto;
    word-wrap: none;
    white-space: nowrap;
}

.coupon-preview-image-list-horizontal-item {
    display: inline-block;
    height: 100%;
    margin: 4px;
}

.coupon-preview-image-list-horizontal-item img {
    width: auto;
    height: 100%;
    cursor: pointer;
}

.coupon-preview-image-list-vertical {
    display: block;
    width: 100%;
    height: 400px;
    list-style: none;
    margin: 0;
    padding: 20%;
    overflow-x: hidden;
    overflow-y: auto;
}

.coupon-preview-image-list-vertical-item {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    cursor: pointer;
}

.coupon-preview {
    display: block;
    width: 100%;
    padding-top: 100%;
    position: relative;
}

.coupon-textfield {
    position: absolute;
    z-index: 10;
    width: 100%;
}

.coupon-preview-image {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    max-height: 700px;
}

@media(min-width: 768px) {
    .coupon-preview-image-list-vertical {
        height: 600px;
    }
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}


/* :host ::ng-deep .mat-horizontal-content-container {
    overflow: hidden;
    padding: 5px 5px 5px !important;
} */


/* @media(min-width: 768px) {
                    .campaign-editor-col-1 {
                        flex: 0 0 calc(100vw - 500px);
                        max-width: calc(100vw - 500px);
                    }
                    .campaign-editor-col-2 {
                        flex: 0 0 370px;
                        max-width: 370px;
                    }
                } */