<app-header>
    <a mat-icon-button color="primary" style="right: 5px; text-decoration: none;" routerLink="/dashboard">
        <i class="arrow_back"></i>
    </a>
</app-header>
<div *ngIf="campaign" class="container-fluid">
    <mat-card style="margin-bottom: 20px;" class="px-0">
        <mat-card-header>
            <mat-card-title>{{campaign.campaignName}} ({{campaign.redeemed}}/{{campaign.amount}} Coupons redeemed)
            </mat-card-title>
            <mat-card-subtitle *ngIf="!campaign.payed">After toping up your balance, you will be able to choose a layout for your coupons.
            </mat-card-subtitle>
            <mat-card-subtitle *ngIf="campaign.payed">{{campaign.amount}} coupons with a value of {{campaign.value}}Mi each.
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="px-0">
            <mat-horizontal-stepper linear="true" #stepper (selectionChange)="onStepChange($event)">
                <!-- Define the edit icon, by default is 'create' -->
                <ng-template matStepperIcon="edit">
                    OK
                </ng-template>
                <ng-template matStepperIcon="done">
                    OK
                </ng-template>
                <mat-step [completed]="campaign.payed">
                    <ng-template matStepLabel>Top-up</ng-template>
                    <div class="row d-flex align-items-center justify-content-center">
                        <div *ngIf="!campaign.payed" [matTooltip]="copyText" matTooltipPosition="below" (click)="copyAddress()">
                            <div class="text-center">
                                <p>Copy or scan the IOTA payment address and send
                                    <b>{{(campaign.amount*campaign.value)}}
                                        Miota</b>.
                                </p>
                                <img class="center-block" [src]="qrCodeData.src" alt="QR CODE" />
                                <p style="font-family: monospace; word-break: break-word;" class="p-5">
                                    {{campaign.paymentAddress}}</p>
                            </div>
                            <div class="d-flex align-items-center justify-content-center mt-3">
                                <div>
                                    <div class="spinner-grow ml-auto" role="status" aria-hidden="true"></div>
                                    <div class="d-inline-block ml-3">
                                        <strong>Waiting for payment... </strong>
                                        <br>
                                        <a [href]="'https://thetangle.org/address/'+campaign.paymentAddress" style="text-align: center" target="_blank">Watch
                                            transaction</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="campaign.payed" class="d-flex align-items-center">
                            <i class="verified_user" style="font-size: 150px; color: teal;"></i>
                            <p style="color: teal">Payment approved</p>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end">
                        <button mat-stroked-button matStepperNext [disabled]="!campaign.payed">Next</button>
                    </div>
                </mat-step>
                <mat-step [completed]="campaign.payed">
                    <ng-template matStepLabel>Design</ng-template>
                    <div class="container">
                        <div *ngIf="backgroundImage && borderImage" class="row">
                            <div class="col-md-7 nopadding">
                                <div class="coupon-textfield w-100 pr-4">
                                    <div class="row">
                                        <div class="col-11 nopadding">
                                            <mat-form-field class="w-100 p-0">
                                                <input matInput [(ngModel)]="couponDescription" (ngModelChange)="transformText($event)" maxlength="60" placeholder="Your coupon description">
                                            </mat-form-field>
                                        </div>
                                        <div class="col-1 pt-3 nopadding">
                                            <button mat-icon-button [style.color]="color" [cpPosition]="'left'" [cpPositionOffset]="'50%'" [cpPositionRelativeToArrow]="true" (colorPickerChange)="changeTextColor($event)" [(colorPicker)]="color" [cpAlphaChannel]="'disabled'" aria-label="Change text color">
                                                <i class="format_paint" style="width:24px"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center justify-content-center">
                                    <div class="coupon-preview">
                                        <div class="coupon-preview-image">
                                            <svg [attr.fill]="colorLogo" viewBox="0 0 500 500" preserveAspectRatio="xMidYMin slice" style="overflow: visible">
                                                <path [attr.d]="backgroundImage.path" />
                                                <text x="85" y="170" font-size="larger" font-weight="bold"
                                                    [attr.fill]="colorText">{{campaign.value}} Mi</text>
                                                <text x="85" y="200" font-size="larger" font-weight="bold"
                                                    [attr.fill]="colorText">MY-IOTA-COUPON-CODE</text>
                                                <text x="85" y="240" font-size="larger"
                                                    [attr.fill]="colorText">{{couponDescription1}}</text>
                                                <text x="85" y="270" font-size="larger"
                                                    [attr.fill]="colorText">{{couponDescription2}}</text>
                                                <text x="85" y="300" font-size="larger"
                                                    [attr.fill]="colorText">{{couponDescription3}}</text>
                                                <text x="85" y="350" [attr.fill]="colorText">Redeem your IOTA at
                                                    iota.coupons</text>
                                            </svg>
                                        </div>
                                        <div class="coupon-preview-image">
                                            <svg viewBox="0 0 500 500" [attr.fill]="colorBorder" preserveAspectRatio="xMidYMin slice" style="overflow: visible">
                                                <path [attr.d]="borderImage.path" />
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5 nopadding">
                                <mat-tab-group>
                                    <mat-tab label="Background">
                                        <div class="d-flex justify-content-center">
                                            <button mat-stroked-button class="w-75 m-3" [style.background-color]="colorBackground" [cpPosition]="'bottom'" (colorPickerChange)="changeLogoColor($event)" [(colorPicker)]="color" [cpAlphaChannel]="'disabled'">Choose Background Color</button>
                                        </div>
                                        <ul class="coupon-preview-image-list-vertical">
                                            <li *ngFor="let bgr of logos" class="coupon-preview-image-list-vertical-item">
                                                <svg [attr.fill]="colorLogo" width="100%" height="100%" viewBox="0 0 500 500" preserveAspectRatio="xMidYMin slice" style="overflow: visible" (click)="designChange(); backgroundImage=bgr">
                                                    <path [attr.d]="bgr.previewPath" />
                                                </svg>
                                                <hr>
                                            </li>
                                        </ul>
                                    </mat-tab>
                                    <mat-tab label="Border">
                                        <div class="d-flex justify-content-center">
                                            <button mat-stroked-button class="w-75 m-3" [style.background-color]="colorBackground" [cpPosition]="'bottom'" (colorPickerChange)="changeBorderColor($event)" [(colorPicker)]="color" [cpAlphaChannel]="'disabled'">Choose Border Color</button>
                                        </div>
                                        <ul class="coupon-preview-image-list-vertical">
                                            <li *ngFor="let borderImg of borders" class="coupon-preview-image-list-vertical-item">
                                                <svg [attr.fill]="colorBorder" width="100%" height="100%" viewBox="0 0 500 500" preserveAspectRatio="xMidYMin slice" style="overflow: visible" (click)="designChange(); borderImage=borderImg">
                                                    <path [attr.d]="borderImg.previewPath" />
                                                </svg>
                                                <hr>
                                            </li>
                                        </ul>
                                    </mat-tab>
                                </mat-tab-group>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end mt-3">
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-raised-button matStepperNext color="primary" [disabled]="!campaign.payed">
                            <i class="format_paint" style="width:24px"></i>Theme coupons
                        </button>
                    </div>
                </mat-step>
                <mat-step>
                    <ng-template matStepLabel>Print</ng-template>
                    <div *ngIf="campaign.redeemed === campaign.amount">
                        <h3>All coupons have been redeemed. Very good! Let's create some more.</h3>
                    </div>
                    <div *ngIf="campaign.payed && (campaign.redeemed < campaign.amount)">
                        Only still not redeemed coupons will be displayed.
                        <ngx-extended-pdf-viewer *ngIf="!pdfLoader && (coupons && pdfSrc)" [base64Src]="pdfSrc" backgroundColor="#ffffff" [height]="'90vh'" [showBookmarkButton]="false" [showOpenFileButton]="false" [useBrowserLocale]="true" [handTool]="true" [showHandToolButton]="true"
                            [showRotateButton]="false" [rotation]="0">
                        </ngx-extended-pdf-viewer>
                    </div>
                    <div class="d-flex justify-content-end">
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button (click)="stepper.reset()">Reset</button>
                    </div>
                </mat-step>
            </mat-horizontal-stepper>
        </mat-card-content>
    </mat-card>
</div>