<app-header></app-header>
<div class="d-flex justify-content-center align-items-center">
    <div *ngIf="responseType == 'already-verified'" class="alert alert-warning" role="alert">
        {{serverMessage}}
    </div>
    <div *ngIf="responseType == 'not-verified'" class="alert alert-danger" role="alert">
        {{serverMessage}}
    </div>
    <div *ngIf="responseType == 'verified-successfull'" class="alert alert-success" role="alert">
        {{serverMessage}}
    </div>
</div>
<div *ngIf="(responseType == 'verified-successfull') || (responseType == 'already-verified')" class="d-flex flex-fill align-items-center justify-content-center py-3">
    <form #signInForm="ngForm" (ngSubmit)="signInForm.valid && onSubmitLogin(signInForm)">
        <div class="row">
            <div class="col-12">
                <mat-form-field class="d-block">
                    <input type="text" matInput name="email" #email="ngModel" id="email" [(ngModel)]="model.email" placeholder="Email" [pattern]="emailRegex" required [ngClass]="{'invalid-textbox' :signInForm.submitted && !email.valid }">
                </mat-form-field>
                <div class="alert alert-warning" *ngIf="signInForm.submitted && email.errors?.pattern">
                    Invalid email address.
                </div>
            </div>
            <div class="col-12">
                <mat-form-field class="d-block">
                    <input type="password" matInput name="password" #password="ngModel" [(ngModel)]="model.password" placeholder="Password" required minlength="4" [ngClass]="{'invalid-textbox' :signInForm.submitted && !password.valid }">
                </mat-form-field>
                <div class="alert alert-warning" *ngIf="signInForm.submitted && password.errors?.minlength">
                    Minimum 8 characters.
                </div>
            </div>
            <div class="col-12 col-xl-2 d-flex align-items-center">
                <button mat-stroked-button type="submit" color="primary" class="btn-block mb-2">Log in</button>
            </div>
        </div>
    </form>
</div>