<carousel interval="3000" [noPause]="false" [showIndicators]="false">
    <slide>
        <img src="assets/img/slide-features-1.png" alt="Easy & secure" style="display: block; width: 100%;">
    </slide>
    <slide>
        <img src="assets/img/slide-features-2.png" alt="Beautiful Couopns" style="display: block; width: 100%;">
    </slide>
    <slide>
        <img src="assets/img/slide-features-3.png" alt="Beautiful Couopns" style="display: block; width: 100%;">
    </slide>
</carousel>