<h1 mat-dialog-title>Register</h1>
<form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <mat-form-field class="d-block">
            <input matInput type="text" formControlName="fullName" placeholder="Full Name" />
            <mat-error *ngIf="f.fullName.errors && f.fullName.errors.required">This field is required.</mat-error>
        </mat-form-field>
    </div>
    <div class="form-group">
        <mat-form-field class="d-block">
            <input matInput type="text" formControlName="email" placeholder="Email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
            <mat-error *ngIf="f.email.errors && f.email.errors.required">Email is required</mat-error>
            <mat-error *ngIf="f.email.errors && (f.email.errors.email && !f.email.errors.required)">Email must be a valid email address
            </mat-error>
        </mat-form-field>
    </div>
    <div class="form-group">
        <mat-form-field class="d-block">
            <input matInput type="password" formControlName="password" placeholder="Password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
            <mat-error *ngIf="f.password.errors && f.password.errors.required">Password is required</mat-error>
            <mat-error *ngIf="f.password.errors && (f.password.errors.minlength && !f.password.errors.required)">
                Password must be at least 8 characters</mat-error>
        </mat-form-field>
    </div>
    <div class="form-group">
        <mat-form-field class="d-block">
            <input matInput type="password" formControlName="confirmPassword" placeholder="Confirm Password" />
            <mat-error *ngIf="f.confirmPassword.errors && f.confirmPassword.errors.required">Confirm Password is required
            </mat-error>
            <mat-error *ngIf="f.confirmPassword.errors && (f.confirmPassword.errors.mustMatch && !f.confirmPassword.errors.required)">
                Passwords must match
            </mat-error>
        </mat-form-field>
    </div>
    <div class="form-group form-check">
        <mat-checkbox formControlName="acceptTerms" id="acceptTerms">
            Accept Terms & Conditions<sup><a routerLink="/tos" target="_blank">[info]</a></sup>
        </mat-checkbox>
        <div *ngIf="submitted && f.acceptTerms.errors" class="invalid-feedback">Accept Ts & Cs is required</div>
    </div>
    <re-captcha #captchaRef="reCaptcha" formControlName="recaptchaReactive" size="invisible" required siteKey="6LeF2LoUAAAAAHYXPrSQ8ddTsvN6W2a4s56om1-C">
    </re-captcha>
    <div class="d-flex justify-content-end mt-3">
        <button mat-button type=button class="mr-2" (click)="onNoClick(); $event.preventDefault()">cancel</button>
        <button mat-flat-button type="submit" color="primary">Register</button>
    </div>
    <div class="alert alert-success mt-3" *ngIf="serverMessage">
        {{serverMessage}}
    </div>
</form>