<h1 mat-dialog-title>Request new Password</h1>
<form [formGroup]="pwForgetForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <mat-form-field class="d-block">
            <input matInput type="text" formControlName="email" placeholder="Your Email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
            <mat-error *ngIf="f.email.errors && f.email.errors.required">Email is required</mat-error>
            <mat-error *ngIf="f.email.errors && (f.email.errors.email && !f.email.errors.required)">Email must be a valid email address
            </mat-error>
        </mat-form-field>
    </div>
    <re-captcha #captchaRef="reCaptcha" formControlName="recaptchaReactive" size="invisible" required siteKey="6LeF2LoUAAAAAHYXPrSQ8ddTsvN6W2a4s56om1-C">
    </re-captcha>
    <div class="d-flex justify-content-end mt-3">
        <button mat-button type=button class="mr-2" (click)="onNoClick(); $event.preventDefault()">cancel</button>
        <button mat-flat-button type="submit" color="accent">Request</button>
    </div>
    <div class="alert alert-success mt-3" *ngIf="serverMessage">
        {{serverMessage}}
    </div>
</form>