<div class="d-flex flex-column h-100">
    <form #signInForm="ngForm" (ngSubmit)="signInForm.valid && onSubmitLogin(signInForm)">
        <div class="row">
            <div class="col-12 col-xl-5">
                <mat-form-field class="d-block">
                    <input type="text" matInput name="email" #email="ngModel" id="email" [(ngModel)]="model.email" placeholder="Email" [pattern]="emailRegex" required [ngClass]="{'invalid-textbox' :signInForm.submitted && !email.valid }">
                    <mat-error *ngIf="signInForm.submitted && email.errors?.pattern">Invalid email address</mat-error>
                </mat-form-field>
            </div>
            <div class="col-12 col-xl-5 mb-3">
                <mat-form-field class="d-block">
                    <input type="password" matInput name="password" #password="ngModel" [(ngModel)]="model.password" placeholder="Password" required minlength="4" [ngClass]="{'invalid-textbox' :signInForm.submitted && !password.valid }">
                    <mat-error *ngIf="signInForm.submitted && password.errors?.minlength">Minimum 8 characters.
                    </mat-error>
                </mat-form-field>
                <a (click)="openPwForgetDialog()" style="font-size: 13px; color: #009688; cursor: pointer; ">Forgot password?</a>
            </div>
            <div class="col-12 col-xl-2 mt-3">
                <button mat-stroked-button type="submit" color="primary" class="btn-block mb-2">Log in</button>
            </div>
        </div>
    </form>
    <!-- Error message -->
    <div class="alert alert-warning" *ngIf="serverErrorMessages">
        {{serverErrorMessages}}
    </div>
    <div class="d-flex flex-fill align-items-center justify-content-center py-5">
        <div>
            <a mat-button color="primary" style="font-weight: 500; font-size: 14px; padding: 0; pointer-events:none;">
                <i class="card_giftcard mr-1"></i><span class="pt-2">iota.coupons</span>
            </a>
            <h2 style="font-weight: bold">Give your loved ones<br>the future!</h2>
            <br><span style="font-weight: bold">Create IOTA Coupons today.</span>
            <button (click)="openRegisterDialog()" mat-flat-button class="btn-block" color="primary">Sign up</button>
            <button mat-stroked-button class="btn-block mb-2" (click)="focusEmailInput()" color="accent">Log in</button><br>
        </div>
    </div>

</div>