<div>
    <h1 mat-dialog-title>Create coupons</h1>
    <div class="d-flex flex-fill align-items-center justify-content-center">
        <mat-spinner *ngIf="submitted" color="accent"></mat-spinner>
        <form *ngIf="!submitted" [formGroup]="addForm" (ngSubmit)="onFormSubmit()">
            <div mat-dialog-content>
                <mat-form-field>
                    <input style="width: 100%" formControlName="campaignName" matInput placeholder="Coupon Name">
                    <mat-error *ngIf="f.campaignName.errors">Please fill in coupon name</mat-error>
                </mat-form-field>
                <mat-form-field class="mt-1">
                    <input style="width: 100%" formControlName="amount" matInput placeholder="Amount of Coupons">
                    <mat-error *ngIf="f.amount.errors && f.amount.errors.required">Please specify amount of coupons
                    </mat-error>
                    <mat-error *ngIf="(f.amount.errors  && !f.amount.errors.required) && (f.amount.errors.min || f.amount.errors.max)">
                        min. 1 and max. 120 Coupons</mat-error>
                    <mat-error *ngIf="(f.amount.errors  && !f.amount.errors.required) && ((!f.amount.errors.min || !f.amount.errors.max) && f.amount.errors.pattern)">
                        Only integers</mat-error>
                </mat-form-field>
                <mat-form-field class="mt-3">
                    <input type="number" step="1" min="0" max="10000" style="width: 100%" formControlName="value" matInput placeholder="Individual coupon value">
                    <span matSuffix>Mi</span>
                    <mat-error *ngIf="f.value.errors && f.value.errors.required">Please specify value of coupons
                    </mat-error>
                    <mat-error *ngIf="(f.value.errors  && !f.value.errors.required) && (f.value.errors.min || f.value.errors.max)">
                        min. 0 and max. 10000 Miota</mat-error>
                    <mat-error *ngIf="(f.value.errors  && !f.value.errors.required) && ((!f.value.errors.min || !f.value.errors.max) && f.value.errors.pattern)">
                        Only numeric values</mat-error>
                </mat-form-field>
            </div>
            <div mat-dialog-actions>
                <button mat-button type=button (click)="onNoClick(); $event.preventDefault()">Back</button>
                <button mat-stroked-button type="submit" color="primary">Create
                    Coupons</button>
            </div>
        </form>
    </div>
</div>