<app-header>
    <a mat-icon-button color="primary" style="right: 5px; text-decoration: none;" routerLink="/settings">
        <i class="settings"></i>
    </a>
</app-header>
<div class="container-fluid">
    <mat-card style="margin-bottom: 25px;">
        <div class="row" style="margin-bottom: 20px">
            <div class="col-md-7 col-lg-7">
                <mat-card-content>
                    <app-feature-slider></app-feature-slider>
                </mat-card-content>
                <mat-card-actions class="align-right">
                    <a mat-raised-button class="mr-2" color="accent" style=" text-decoration: none;" (click)="openDialog()">
                        <i class="note_add mr-1 mb-1" style="width:24px;"></i>Create new coupon
                    </a>
                </mat-card-actions>
            </div>
            <div class="col-md-5 col-lg-5">
                <div *ngIf="userDetails">
                    {{userDetails.fullName}}
                    <br> {{userDetails.email}}
                    <mat-grid-list cols="3" class="mt-1" rowHeight="1:1.2">
                        <mat-grid-tile>
                            <h3>{{totalCoupons}}</h3>
                            <mat-grid-tile-footer>
                                <h3>Coupons Created</h3>
                            </mat-grid-tile-footer>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <h3>{{couponsRedeemed}}</h3>
                            <mat-grid-tile-footer>
                                <h3>Coupons redeemed</h3>
                            </mat-grid-tile-footer>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <h3>{{totalMiota}}</h3>
                            <mat-grid-tile-footer>
                                <h3>Miota total</h3>
                            </mat-grid-tile-footer>
                        </mat-grid-tile>
                    </mat-grid-list>
                    <br>
                    <div class="d-flex justify-content-end">
                        <a mat-stroked-button style="padding: 0 5px; text-decoration: none;" (click)="onLogout()">
                            <i class="exit_to_app"></i>Logout
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </mat-card>

    <div class="row mb-5">
        <div class="col-md-12 col-lg-12 mb-5" [hidden]="!campaigns">
            <mat-card>
                <mat-card-header *ngIf="campaignsAmount">
                    <mat-card-title>My coupon collection ({{campaignsAmount}})</mat-card-title>
                    <mat-card-subtitle>
                        <mat-form-field style="font-size: 14px; width: 100%">
                            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                        </mat-form-field>
                    </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <mat-table #table [dataSource]="dataSource" matSort matSortActive="date" matSortDirection="desc" class="mat-elevation-z8">

                        <ng-container matColumnDef="campaignName">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
                            <mat-cell *matCellDef="let campaign" data-label="Name:">
                                {{campaign.campaignName}}
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="amount">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Amount </mat-header-cell>
                            <mat-cell *matCellDef="let campaign" data-label="Amount:">
                                {{campaign.amount}}
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="value">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Miota value of each coupon
                            </mat-header-cell>
                            <mat-cell *matCellDef="let campaign" data-label="Miota value of each coupon:">
                                {{campaign.value}}
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="total">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Total Miota value</mat-header-cell>
                            <mat-cell *matCellDef="let campaign" data-label="Total Miota value:">
                                {{campaign.value*campaign.amount}}
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="redeemed">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Coupons redeemed</mat-header-cell>
                            <mat-cell *matCellDef="let campaign" data-label="Coupons redeemed:">
                                {{campaign.redeemed}}
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="date">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Creation Date</mat-header-cell>
                            <mat-cell *matCellDef="let campaign" data-label="Creation Date:">
                                {{campaign.date | date:'short'}}
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="payed">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Payed</mat-header-cell>
                            <mat-cell *matCellDef="let campaign" data-label="Payed:">
                                <mat-chip-list style="display: inline-block">
                                    <mat-chip *ngIf="campaign.payed" matTooltip="Payment approved" color="accent" selected>
                                        <i class="done_all"></i></mat-chip>
                                    <mat-chip *ngIf="!campaign.payed" matTooltip="Awaiting payment" color="warn" selected><i class="schedule"></i></mat-chip>
                                </mat-chip-list>
                            </mat-cell>>
                        </ng-container>

                        <ng-container matColumnDef="action">
                            <mat-header-cell *matHeaderCellDef> Go to coupons</mat-header-cell>
                            <mat-cell *matCellDef="let campaign" data-label="Go to coupons:">
                                <a mat-stroked-button [href]="'/campaign/'+campaign._id">
                                    View
                                </a>
                            </mat-cell>
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                    </mat-table>
                    <div *ngIf="!campaignsAmount" class="mt-2">
                        <div class="d-flex flex-fill align-items-center justify-content-center py-3">
                            <div>
                                <div class="row">
                                    <div class="col-12 d-flex align-items-center justify-content-center">
                                        <h4 style="text-align: center">Start creating your first IOTA Coupon</h4>
                                    </div>
                                    <div class="col-12 d-flex align-items-center justify-content-center">
                                        <h5 style="text-align: center">0 Value transactions will be validated immediately</h5>
                                    </div>
                                    <div class="col-12 d-flex align-items-center justify-content-center">
                                        <img alt="Let's go create some iota.coupons" style="height: 200px" src="assets/img/unboxing.svg">
                                    </div>
                                    <div class="col-12 d-flex align-items-center justify-content-center">
                                        <a mat-raised-button color="accent" style=" text-decoration: none;" (click)="openDialog()">
                                            <i class="note_add mr-1"></i>Create new coupon
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
                <mat-card-actions>
                    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>