<app-header></app-header>
<div class="d-flex justify-content-center align-items-center">
    <div *ngIf="!responseType" class="alert alert-warning" role="alert">
        Please choose a new password
    </div>
    <div *ngIf="responseType == 'no-token'" class="alert alert-danger" role="alert">
        {{serverMessage}}
    </div>
    <div *ngIf="responseType == 'no-user'" class="alert alert-danger" role="alert">
        {{serverMessage}}
    </div>
    <div *ngIf="responseType == 'update-successfull'" class="alert alert-success" role="alert">
        {{serverMessage}}
    </div>
</div>
<div *ngIf="!submitted" class="d-flex flex-fill align-items-center justify-content-center py-3">
    <form [formGroup]="changePwForm" (ngSubmit)="changePw()">
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <mat-form-field class="d-block">
                        <input matInput type="password" formControlName="pw" placeholder="New Password" [ngClass]="{ 'is-invalid': submitted && f.pw.errors }" />
                        <mat-error *ngIf="f.pw.errors && f.pw.errors.required">Password is required</mat-error>
                        <mat-error *ngIf="f.pw.errors && (f.pw.errors.minlength && !f.pw.errors.required)">Password must be at least 8 characters</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <mat-form-field class="d-block">
                        <input matInput type="password" formControlName="confirmPw" placeholder="Confirm new password" />
                        <mat-error *ngIf="f.confirmPw.errors && f.confirmPw.errors.required">Confirm Password is required
                        </mat-error>
                        <mat-error *ngIf="f.confirmPw.errors && (f.confirmPw.errors.mustMatch && !f.confirmPw.errors.required)">
                            Passwords must match
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <re-captcha #captchaRef="reCaptcha" formControlName="recaptchaReactive" size="invisible" required siteKey="6LeF2LoUAAAAAHYXPrSQ8ddTsvN6W2a4s56om1-C">
            </re-captcha>
            <div class="d-flex col-12 justify-content-end mt-3">
                <button mat-flat-button type="submit" class="btn-block" color="accent">Change
                    Password</button>
            </div>
        </div>
    </form>
</div>
<div *ngIf="submitted" class="d-flex flex-fill align-items-center justify-content-center py-3">
    <form #signInForm="ngForm" (ngSubmit)="signInForm.valid && onSubmitLogin(signInForm)">
        <div class="row">
            <div class="col-12">
                <mat-form-field class="d-block">
                    <input type="text" matInput name="email" #email="ngModel" id="email" [(ngModel)]="model.email" placeholder="Email" [pattern]="emailRegex" required [ngClass]="{'invalid-textbox' :signInForm.submitted && !email.valid }">
                </mat-form-field>
                <div class="alert alert-warning" *ngIf="signInForm.submitted && email.errors?.pattern">
                    Invalid email address.
                </div>
            </div>
            <div class="col-12">
                <mat-form-field class="d-block">
                    <input type="password" matInput name="password" #password="ngModel" [(ngModel)]="model.password" placeholder="Password" required minlength="4" [ngClass]="{'invalid-textbox' :signInForm.submitted && !password.valid }">
                </mat-form-field>
                <div class="alert alert-warning" *ngIf="signInForm.submitted && password.errors?.minlength">
                    Minimum 8 characters.
                </div>
            </div>
            <div class="col-12 col-xl-2 d-flex align-items-center">
                <button mat-stroked-button type="submit" color="primary" class="btn-block mb-2">Log in</button>
            </div>
        </div>
    </form>
</div>