<div class="container">
    <div class="row">
        <form [formGroup]="redeemForm" class="w-100" (ngSubmit)="onSubmit()">
            <div class="col-12 form-group">
                <mat-form-field class="d-block">
                    <input formControlName="code" required matInput placeholder="Coupon Code">
                </mat-form-field>
            </div>
            <div class="col-12 form-group">
                <mat-form-field class="d-block">
                    <input formControlName="address" required matInput placeholder="Payout Address">
                </mat-form-field>
                <re-captcha #captchaRef="reCaptcha" formControlName="recaptchaReactive" size="invisible" siteKey="6LeF2LoUAAAAAHYXPrSQ8ddTsvN6W2a4s56om1-C">
                </re-captcha>
            </div>
            <div>
                <button mat-stroked-button class="btn-block" type="submit" color="primary" [disabled]="!redeemForm.valid">Redeem Coupons</button>
            </div>
        </form>
    </div>
    <div class="alert alert-warning mt-3" *ngIf="serverMessages">
        {{serverMessages}}
    </div>
</div>