@import '~@angular/material/theming';
@include mat-core();
$custom-theme-primary: mat-palette($mat-purple, 300);
$custom-theme-accent:mat-palette($mat-teal);
$custom-theme: mat-light-theme($custom-theme-primary, $custom-theme-accent);
@include angular-material-theme($custom-theme);