/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Poppins');
/* BASIC */

html {
    background-color: #fff;
    scroll-behavior: smooth;
    height: 100%;
}

body {
    min-height: 100%;
    padding: 0;
    margin: 0;
    position: relative;
}

body::after {
    content: '';
    display: block;
    height: 200px;
}

.mat-card-actions {
    text-align: right;
}

.grecaptcha-badge {
    visibility: hidden;
}

.invalid-feedback {
    display: block;
}

*:focus {
    outline: none !important;
    border: 0 !important;
}

/*  Stepper headers */

@media screen and (max-width: 720px) {
    .mat-horizontal-stepper-header {
        padding: 0px !important;
    }
}

/* hide Number input spinners */

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}