.tab-icon {
    margin-right: 8px;
}

.settings-headers-align .mat-expansion-panel-header-title,
.settings-headers-align .mat-expansion-panel-header-description {
    flex-basis: 0;
}

.settings-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
}