<app-header>
    <a mat-icon-button color="primary" style="right: 5px; text-decoration: none;" routerLink="/dashboard">
        <i class="arrow_back"></i>
    </a>
</app-header>
<div class="d-flex justify-content-center align-items-center">
    <mat-tab-group dynamicHeight>
        <mat-tab>
            <ng-template mat-tab-label>
                <i class="account_circle tab-icon"></i> Change details
            </ng-template>
            <mat-card>
                <mat-accordion *ngIf="userDetails" class="settings-headers-align">
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Full Name
                            </mat-panel-title>
                            <mat-panel-description>
                                {{userDetails.fullName}}
                                <i class="perm_identity"></i>
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <div class="ml-3">
                            <div class="row">
                                <form [formGroup]="changeNameForm" style="width:100%" (ngSubmit)="changeName(changeNameForm)">
                                    <mat-form-field>
                                        <input formControlName="fullName" required matInput placeholder="Username" [value]="userDetails.fullName">
                                    </mat-form-field>
                                    <div class="text-right">
                                        <button mat-stroked-button type="submit" color="primary">Change Name</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Email
                            </mat-panel-title>
                            <mat-panel-description>
                                {{userDetails.email}}
                                <i class="email"></i>
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <button mat-stroked-button (click)="changeEmail()" class="btn-block mb-2" [color]="emailButtonColor">Request
                            Email change</button>
                        <p>A verification Email will be sent to {{userDetails.email}}.</p>
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Password
                            </mat-panel-title>
                            <mat-panel-description>
                                ********
                                <i class="vpn_key"></i>
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <re-captcha #captchaRef="reCaptcha" size="invisible" required siteKey="6LeF2LoUAAAAAHYXPrSQ8ddTsvN6W2a4s56om1-C">
                        </re-captcha>
                        <button mat-stroked-button (click)="changePw()" class="btn-block mb-2" [color]="pwButtonColor">Request
                            Password change</button>
                        <p>A verification Email will be sent to {{userDetails.email}}.</p>
                    </mat-expansion-panel>
                </mat-accordion>
            </mat-card>
        </mat-tab>

        <mat-tab>
            <ng-template mat-tab-label>
                <i class="system_update_alt tab-icon"></i> Redeem Coupons
            </ng-template>
            <mat-card class=" d-flex justify-content-center align-items-center ">
                <app-redeem></app-redeem>
            </mat-card>
        </mat-tab>
    </mat-tab-group>
</div>